@import 'reset.css';

.container--game {
    width: 2300px;
}

.container--user {
    width: 1400px;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.form {
    padding: 20px 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.form--big {
    width: 760px;
}

.form--small {
    width: 400px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper--column {
    flex-direction: column;
    justify-content: space-around;
}

.form__field {
    display: flex;
    min-width: 350px;
    justify-content: space-between;
    margin: 8px 0;
}

.form__field--textarea {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.label--textarea {
    margin: 5px 0;
}

.label {
    flex-grow: 2;
}

.field {
    flex-grow: 3;
}

.submit {
    align-self: flex-end;
    padding: 10px;
    margin: 10px 0;
}

.title--form {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}

.obligatory {
    font-weight: bold;
}